@use 'scss/base/reset' as *;
@use 'scss/base/fonts' as *;
@use 'scss/base/typography' as *;
@use 'scss/base/colors' as *;
@use 'scss/base/spacer' as *;
@use 'scss/components/buttons' as *;
@use 'scss/abrastracts/mixins' as *;
@use 'scss/layout/mediaquery' as *;
@use 'scss/layout/footer' as*;

body {
    display: grid;
    place-content: center;
    background-color: var(--clr-lt-gr);
}

.container {
    margin: var(--mar-base);
    border-radius: 0.5rem;
    overflow: hidden;
    @include md() {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 60rem;
    }

    .card {
        @include card();
        @include md() {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            }
        }

        .card-btn {
            @include btn();
        }
    }
