//font-size
$fs: (
    sm: 0.6rem,
    base: 15px,
    md: 1.5rem,
    lg: 2rem,
    xl: 2.5rem
);

//font-weight
$fw: (
    thin: 200,
    base: 400,
    bold: 700
);

:root {
    @each $name, $val in $fs {
        --fs-#{$name}: #{$val};
    }
    @each $name, $val in $fw {
        --fw-#{$name}: #{$val};
    }
};