@use '../components/buttons' as *;
@use '../layout/mediaquery' as *;

@mixin card() {
    padding: var(--pad-md);
    margin-top: -var(--pad-md);
    img {
        max-width: 2.8rem;
        margin: var(--mar-sm) 0;
    }
    h1 {
        text-transform: uppercase;
        font-family: var(--accent);
        font-size: var(--fs-md);
        font-weight: var(--fw-thin);
        letter-spacing: 0.05rem;
        color: var(--clr-lt-gr);
        margin-top: var(--mar-base);
    }
    P {
        font-family: var(--reg);
        font-weight: var(--fw-base);
        font-size: var(--fs-sm);
        line-height: 1.8;
        color: var(--clr-trans-wt);
        padding: var(--pad-lg) 0;
    }
    @include md() {
        padding: var(--pad-xl);
        img {
            max-width: 5rem;
        }
        h1 {
            font-size: var(--fs-xl);
            margin-top: var(--mar-sm);
        }
        p {
            font-size: var(--fs-base);
            padding: var(--pad-lg) 0;
            margin-bottom: var(--mar-xl);
        }
        button {
            font-size: var(--fs-base);
            max-width: 10rem;
        }
    }
};